<h1 class="text-2xl pl-6 text-gray-700">
  Log #<%= @log.id %>
  <span class="text-lg font-medium bg-green-500 py-1 px-2 rounded text-white align-middle"><%= @log.collection %></span>
  <span class="text-lg font-medium bg-purple-500 py-1 px-2 rounded text-white align-middle"><%= @log.operation %></span>
  <span class="text-lg font-medium bg-orange-500 py-1 px-2 rounded text-white align-middle"><%= @log.duration %></span>
</h1>
<hr class="mt-2 border-b-1 border-gray-200" />
