/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .winning-plan {
  font-family: 'Fira Sans', sans-serif !important;
 }

 .wrapper {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
},
.link {
  padding: 75rem;
  display: block;
  text-decoration: none;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  background-color: #ffffff;
  color: color;
},
.linkHover {
  background-color: #f1f5f8;
},
.linkActive {
  background-color: color;
  border-color: color;
  color: '#ffffff';
},
.linkDisabled {
  background-color: #f1f5f8;
  color: #8795a1;
},
.linkFirst {
  border-top-left-radius: 25rem;
  border-bottom-left-radius: 25rem;
},
.linkLast {
  border-right-width: 1px;
  border-top-right-radius: 25rem;
  border-bottom-right-radius: 25rem;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.8rem;
  white-space: pre-wrap !important;
}

#tree i {
  font-style: normal;
}

#tree i strong {
  font-weight: 500;
  font-style: normal;
  color: #718096;
}
