/*
 *= require_tree .
 *= require_self
 *= link_tree ../../images
 */

.winning-plan {
  font-family: 'Fira Sans', sans-serif !important;
 }

.wrapper {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.8rem;
  white-space: pre-wrap !important;
}

#tree i {
  font-style: normal;
}

#tree i strong {
  font-weight: 500;
  font-style: normal;
  color: #718096;
}
